/* components/AuthForm.css */
.auth-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.auth-form h3 {
	color: white;
	margin-bottom: 10px;
}

.auth-form input {
	padding: 8px;
	border: 1px solid #0f2342;
	border-radius: 5px;
	background-color: #f9fafb;
	color: #1f2937;
}

.auth-form button {
	margin-top: 10px;
}

.toggle-auth {
	color: white;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
}

.toggle-auth:hover {
	color: gray;
}
